<%- include('header') -%> 
<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nulla commodi doloremque dolorum ipsa. Ipsa dicta iure odit unde vero corrupti animi explicabo maxime quia. Voluptas impedit ex sunt fugit.</p>
<%- include('footer') -%>